@import url('/fonts/font.css');

@tailwind base;
@tailwind components;

.dashboard-cards {
    @apply flex items-center justify-between py-6 px-4 bg-sky-50 border border-sky-100 dark:bg-slate-900 rounded-2xl shadow-search
    hover:dashboard-card-hover-gradient hover:shadow-card-hover hover:border-transparent dark:border-black;
}

.dashboard-card-icon {
    @apply w-10 h-10 rounded-2xl flex items-center justify-center group-hover:bg-white;
}

.aside {
    @apply bg-white overflow-y-auto flex flex-col flex-grow shadow-aside dark:bg-slate-900
}

.aside-items {
    @apply flex items-center justify-between border-b border-gray-200 dark:border-gray-700 pb-4 relative cursor-pointer;
}

.logout-aside-btn {
    @apply rounded-lg px-6 py-4 flex items-center text-base bg-[#FDE7E3] dark:bg-myBlue-900 text-myRed-100
    dark:text-white whitespace-nowrap;
}

.header {
    @apply flex justify-between items-center py-6 px-8 bg-transparent border-b border-gray-200 dark:border-black;
}

.header-notification {
    @apply w-10 h-10 border-2 border-dashed border-gray-400 rounded-full flex items-center justify-center relative mr-5;
}

.header-dark-mode {
    @apply w-10 h-10 border-2 border-dashed border-gray-400 rounded-full flex items-center justify-center relative
    mr-5 cursor-pointer;
}

.header-toggle-menu {
    @apply w-10 h-10 border-2 border-dashed border-gray-400 rounded-full flex items-center justify-center relative cursor-pointer;
}

.menu-active {
    @apply text-myBlue-100 dark:text-mySky-100;
}

.input-text {
    @apply bg-white w-full border border-gray-200 rounded-lg px-4 py-3 text-xs font-medium placeholder-mySky-200
    placeholder-opacity-90 text-black dark:bg-slate-800 dark:border-black dark:text-white dark:placeholder-mySky-100;
}

.form-detail-btn {
    @apply px-4 py-2 bg-yellow-500 text-white md:text-sm text-xs rounded-md active:bg-yellow-700 hover:bg-yellow-600
    focus:outline-none focus:ring focus:ring-yellow-600 focus:ring-opacity-70;
}

.form-submit-btn {
    @apply px-6 py-3 bg-myGreen-100 text-white text-xs rounded-lg hover:bg-green-600;
}

.form-cancel-btn {
    @apply px-6 py-3 bg-myRed-300 text-white text-xs rounded-lg hover:bg-red-600;
}

.form-edit-btn {
    @apply px-6 py-3 bg-myBlue-300 text-white text-xs rounded-lg hover:bg-indigo-600;
}

.form-percent-btn {
    @apply px-4 py-2 bg-gray-500 text-white md:text-sm text-xs rounded-md active:bg-gray-700 hover:bg-gray-600
    focus:outline-none focus:ring focus:ring-gray-600 focus:ring-opacity-70
}

.form-disabled-btn {
    @apply px-4 py-2 bg-gray-400 text-white md:text-sm text-xs rounded-md focus:outline-none cursor-not-allowed
}

.table-dropdown {
    @apply absolute bg-white dark:bg-slate-800 dark:border-black rounded-md shadow-xl border border-gray-300 px-4 py-3 z-50 space-y-2;
}

.table-dropdown-btn {
    @apply flex items-center text-sm px-6 py-2 hover:bg-gray-100;
}

.table-th-tr {
    @apply bg-myBlue-300 text-sm text-white text-center whitespace-nowrap;
}

.table-tb-tr {
    @apply bg-transparent text-sm text-gray-500 dark:text-gray-200 text-center hover:bg-white dark:hover:bg-slate-900
    hover:shadow-2xl hover:text-black dark:hover:text-white whitespace-nowrap;
}

.table-tr-td {
    @apply p-4 border border-gray-300 dark:border-black;
}

.table-dropdown-edit {
    @apply text-gray-500 dark:text-gray-300 group-hover:text-indigo-600 dark:group-hover:text-indigo-300 flex items-center text-sm;
}

.table-dropdown-delete {
    @apply text-gray-500 dark:text-gray-300 group-hover:text-red-600 dark:group-hover:text-red-300 flex items-center text-sm;
}

.table-dropdown-copy {
    @apply text-gray-500 dark:text-gray-300 group-hover:text-yellow-600 dark:group-hover:text-yellow-300 flex items-center text-sm;
}

.table-dropdown-description {
    @apply text-gray-500 dark:text-gray-300 group-hover:text-gray-600 dark:group-hover:text-gray-300 flex items-center text-sm;
}

.table-dropdown-restore {
    @apply text-pink-500 dark:text-gray-300 group-hover:text-pink-600 dark:group-hover:text-gray-300 flex items-center text-sm;
}

.table-warning-btn {
    @apply text-gray-500 group-hover:text-yellow-600 flex items-center dark:text-gray-300 dark:group-hover:text-yellow-300;
}

.table-success-btn {
    @apply text-gray-500 group-hover:text-green-600 flex items-center dark:text-gray-300 dark:group-hover:text-green-300;
}

.table-delete-btn {
    @apply text-gray-500 group-hover:text-red-600 flex items-center dark:text-gray-300 dark:group-hover:text-red-300;
}

.table-info-btn {
    @apply text-gray-500 group-hover:text-myBlue-100 flex items-center dark:text-gray-300 dark:group-hover:text-blue-300;
}

.modal-backdrop {
    @apply fixed inset-0 bg-gray-700 bg-opacity-80 transition-opacity backdrop-blur-sm;
}

.modal {
    @apply flex items-center justify-center min-h-full p-4 text-center;
}

.modal-body {
    @apply relative bg-white rounded-lg text-right overflow-hidden shadow-2xl md:w-3/4 w-full;
}

.modal-close {
    @apply w-7 h-7 bg-gray-200 dark:bg-gray-600 rounded-full flex items-center justify-center;
}

.breadcrumb {
    @apply flex items-center space-x-2 space-x-reverse;
}

.breadcrumb-p {
    @apply text-sm text-gray-500 dark:text-gray-300;
}

.breadcrumb-p-active {
    @apply text-sm text-myBlue-100 dark:text-indigo-300;
}

.breadcrumb-svg {
    @apply w-5 h-5 text-gray-500 dark:text-gray-300;
}

.breadcrumb-svg-active {
    @apply w-5 h-5 text-myBlue-100 dark:text-indigo-300;
}

.breadcrumb-svg-arrow {
    @apply w-5 h-5 text-black dark:text-white;
}

.page-success-btn {
    @apply px-4 py-2 bg-myGreen-100 text-white text-xs rounded-lg flex items-center hover:bg-green-600;
}

.page-warning-btn {
    @apply px-4 py-2 bg-myYellow-100 text-white text-xs rounded-lg flex items-center hover:bg-yellow-600;
}

.page-info-btn {
    @apply px-4 py-2 bg-myBlue-300 text-white text-xs rounded-lg flex items-center hover:bg-blue-600;
}

.card {
    @apply mb-4 bg-white rounded-lg border border-gray-200 p-5 dark:bg-slate-900 dark:border-black;
}

.card-header {
    @apply border-b-2 border-myBlue-200 relative mb-8;
}

.card-title {
    @apply absolute text-sm text-myGray-100 font-bold bg-white dark:bg-slate-900 dark:text-white -top-3 pl-4;
}

.card-search {
    @apply mt-4 bg-white rounded-lg border border-gray-200 px-5 pt-7 dark:bg-slate-900 dark:border-black;
}

.card-header-search {
    @apply border-b-2 border-myBlue-200 relative mb-8 flex items-center justify-between cursor-pointer;
}

.card-title-search {
    @apply absolute text-sm text-myGray-100 font-bold bg-white dark:bg-slate-900 dark:text-white left-0 -top-3 pr-4;
}

.form-label {
    @apply text-xs text-myGray-100 block mb-2 font-medium dark:text-white;
}

.category-back {
    @apply flex items-center text-indigo-600 underline underline-offset-4 dark:text-indigo-300;
}

.table-weight-label {
    @apply text-sm font-bold text-white bg-gray-400 rounded-lg px-4 py-2 group-hover:bg-gray-500;
}

.table-price-label {
    @apply text-sm font-bold text-white bg-green-400 rounded-lg px-4 py-2 group-hover:bg-green-500;
}

@tailwind utilities;

@layer utilities {

    .dashboard-card-hover-gradient {
        background: linear-gradient(217.5deg, #0643F2 21.71%, #F1F1F1 215.33%);
    }

    .decimal-list ol {
        list-style: decimal !important;
        margin-right: 32px;
    }

    .decimal-list ul {
        list-style: disc !important;
        margin-right: 32px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    .sidebar::-webkit-scrollbar {
        width: 5px;
    }

    .sidebar::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #d1d5db;
    }

    .sidebar::-webkit-scrollbar-thumb {
        background: #d1d5db;
        border-radius: 10px;
    }

    .sidebar::-webkit-scrollbar-thumb:hover {
        background: #9ca3af;
    }
}
